header{
    background-image: linear-gradient(#9999e2,#ced1fc);
    padding: 13px;
}

#logo1{
    border-radius: 70px;
}

img{
    width:180px;
    height:190px;
}  

@font-face{
    font-family: 'Dancing';
    src: url('DancingScript-VariableFont_wght.ttf') format('truetype');
}

.titulo-principal{
    position: absolute;
    top: 4%;
    left: 28%;
    font-family: 'Dancing';
    text-align:center;
    font-size: 45px;
    color:black;
    text-shadow: -1px -1px 0px #bb80ee,
                -1px 4px 0px #776493,
                1px -1px 0px #52549b,
                -1px -0px 0px #787baf;
}

main{
    width: 800px;
    margin: auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0px 0px 10px;
    
} 

.input-padrao{
    display: block;
    margin: 0px 0px 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0px;
}

.Enviar{
    width: 40%;
    padding: 15px 0;
    background: rgb(113, 132, 213);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 05px;
    transition: 1s all;
    cursor: pointer;
    margin: auto;
}

.Enviar:hover{
    background: #7369e6;
    transform: scale(1.2);
}

footer{
    text-align: center;
    background-image: linear-gradient(#9999e2,#ced1fc);
    padding: 10px 0;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 10px 0px 0px;
}

#logo2{
    border-radius: 70px;
}
